.SectionSeparator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #919191;
  //margin: 8px 0;

  .Ornament {
    position: relative;
    top: -2rem;
    //bottom: 0;
    z-index: 900;
  }
}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {
  .Ornament {
    img {
      height: 40px;
      width: unset;
    }
  }
}