.PhotoViewer {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--mario-bg-color);

  .CloseActionIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: var(--mario-accent-color);
    z-index: 1800;
  }

  .PhotoViewerContent {
    width: 100%;
    height: 100%;
  }

  .Photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(80vh - 64px);
    height: calc(80dvh - 64px);
    //height: 100%;
    width: auto;
    max-width: none;
    z-index: 90;
    touch-action: manipulation;
    margin-top: 32px;

    img {
      //height: calc(100dvh - 194px);
      //max-width: calc(100% - 64px);
      //height: auto;
      //max-height: 60%;
      //width: auto;
      //display: none;
      max-height: 90%;
      width: auto;
      height: auto;
      max-width: 100%;
      display: block;
      margin: 64px auto 0;
    }
  }

  .ImageTitle{
    font-size: 1rem;
    font-family: 'CinzelRegular', sans-serif;
    margin-bottom: 4px;
    text-align: center;
    color: var(--mario-accent-color);
    position: absolute;
    bottom: 80px;
  }

  .ImageDescription{
    font-size: 0.8rem;
    font-family: 'CinzelRegular', sans-serif;
    margin-bottom: 16px;
    color: var(--mario-accent-color);
    opacity: 0.8;
    position: absolute;
    bottom: 48px;
  }

  .ImageDisclaimer{
    color: #FFFFFF;
    font-family: 'CinzelRegular', sans-serif;
    font-size: 0.7rem;
    position: absolute;
    bottom: 46px;
  }
}
