.PhotoViewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .PhotoModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    //background-color: rgba(250,250,250,0.6);
    //background-color: rgba(250, 250, 250, 1);
    background-color: var(--mario-bg-color);
    color: var(--mario-text-color);

    .PhotoTitle {
      font-size: 2rem;
      font-family: 'CinzelRegular', sans-serif;
      margin-bottom: 4px;
      text-align: center;
      color: var(--mario-accent-color);
    }

    .PhotoDescription {
      font-size: 1.5rem;
      font-family: 'CinzelRegular', sans-serif;
      margin-bottom: 16px;
      color: var(--mario-accent-color);
      opacity: 0.8;
    }

    .CloseButton {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      color: #9e6f28;
      transition: color 0.3s ease;

      &:hover {
        color: var(--mario-accent-color);
      }
    }
  }
}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {
  .PhotoViewer {
    height: 100dvh;
    width: 100dvw;

    .PhotoModalContent {
      padding: 0 !important;
    }

    img {
      height: auto !important;
      width: 100dvw !important;
      object-fit: contain;
    }
  }
}