.ContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100dvw;
  font-family: "CinzelRegular", sans-serif;

  .Title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .ContactEmail {
    svg {
      color: var(--mario-accent-color);
      margin-right: 4px;
    }

    a{
      color: var(--mario-accent-color);
      text-decoration: none;
    }
  }
}