$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;

@font-face {
  font-family: 'CinzelRegular';
  src: url('/assets/fonts/Cinzel-Regular.ttf') format('truetype');
}

html, body {
  --mario-bg-color: #171623;
  --mario-section-bg-color: #541619;
  --mario-text-color: #ffffff;
  --mario-accent-color: #fcb040;
  --mario-accent-color-faint: #9e6f28;
  --mario-accent-color-faintest: #453113;
  --mario-section-separator-color: #1d8325;
  --mario-button-color: #fcb040;

  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--mario-text-color);
  background-color: var(--mario-bg-color);

  // Base styles
  font-size: 16px;

  // Phone styles
  @media (max-width: $breakpoint-phone) {
    font-size: 14px;
  }

  // Tablet styles
  @media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-phone + 1) {
    font-size: 15px;
  }
}

.full-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-4-8 {
  padding: 4px 8px;
}

.padding-8-16 {
  padding: 8px 16px;
}

.padding-8-32 {
  padding: 8px 32px;
}

.padding-16-32 {
  padding: 16px 32px;
}

.text-justify-balance {
  text-align: justify;
  text-justify: inter-word;
}

.width-25vw {
  width: 25vw;
}
.width-30vw {
  width: 30vw;
}
.width-50vw {
  width: 50vw;
}
.width-100vw {
  width: 100vw;
}

/* OVERRIDES */
.PopupMenu {
  .MuiPaper-rounded {
    overflow: hidden;
    border-radius: 8px;
  }

  .MuiMenu-list {
    background-color: var(--mario-section-bg-color);
    color: var(--mario-text-color);
    padding: 8px 16px;
    overflow: hidden;

    li{
      transition: all ease-in-out 0.2s;
      border-radius: 8px;
      color: var(--mario-text-color) !important;

      &:hover {
        background-color: var(--mario-accent-color);
        color: var(--mario-bg-color);
        font-weight: 600;
        //font-size: 1.2rem;
        transform: scale(1.2);
      }
    }
  }
}

.section-title {
  font-family: 'CinzelRegular', sans-serif;
  font-size: 3rem;
  color: var(--mario-accent-color);
  text-align: center;
  margin-bottom: 16px;
}

.swiper-slide {
  width: min-content !important;
}

.footer-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2px;
  opacity: 0.5;
}
