$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$text-color: #ffffff;
$accent-color: #fcb040;

@font-face {
  font-family: 'AdleryPro';
  src: url('/assets/fonts/adlery-pro.blockletter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CinzelRegular';
  src: url('/assets/fonts/Cinzel-Regular.ttf') format('truetype');
}

.root-page {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: var(--mario-text-color);
  background-color: var(--mario-bg-color);
  //padding: 1rem 3rem;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  //background-color: #333;
  background-color: transparent;
  color: white;

  .logo {
    margin-bottom: 4px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    //width: 100%;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    margin: 0 16px;

    .entry {
      display: flex;
      align-items: center;
      color: $text-color;
      opacity: 0.5;
      font-family: 'CinzelRegular', sans-serif;
      font-size: 1.5rem;
      transition: all ease-in-out 0.2s;
      cursor: pointer;

      & > a {
        color: $text-color;
        text-decoration: none;
      }

      &:hover {
        color: $accent-color;
        opacity: 1;
      }

      &.active {
        color: $accent-color !important;
        opacity: 1;
      }
    }
  }

  .HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: $text-color;
    font-family: 'AdleryPro', sans-serif;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }

  @media (max-width: $breakpoint-phone) {
    .menu {
      gap: 10px;
    }
  }
}

.home-gallery {
  width: 100%;
  font-family: 'AdleryPro', sans-serif;
  font-size: 1.5rem;
  color: var(--mario-accent-color);
  margin: 2rem auto;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 1rem;;

      img {
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .gallery-container {
    width: 100%;
  }
}

.LargeTitle {
  //display: flex;
  align-items: center;
  justify-content: center;
  max-height: 6rem;
  font-size: 6rem;
  text-align: center;
  color: var(--mario-accent-color);
  font-family: 'CinzelRegular', sans-serif;
  margin-top: 20px;

  @media (max-width: $breakpoint-phone) {
    font-size: 3rem;
    margin-top: 10px;
  }
}

.LargeSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--mario-text-color);
  font-family: 'Lato Medium', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 20px;

  @media (max-width: $breakpoint-phone) {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

.SectionTitle {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  color: var(--mario-accent-color);
  font-family: 'CinzelRegular', sans-serif;
  text-align: center;
  margin-top: 20px;

  @media (max-width: $breakpoint-phone) {
    font-size: 0.5rem;
    margin-top: 10px;
  }
}

.action-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin-right: 16px;
  font-size: 1.5rem;
  border: 3px solid var(--mario-text-color);
  border-radius: 50%;
  padding: 0.5rem;
  color: $accent-color !important;

  & > svg {
    fill: $accent-color !important;
    stroke: var(--mario-accent-color);
  }
}

.discover-more-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--mario-accent-color);
  font-family: 'AdleryPro', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: $breakpoint-phone) {
    font-size: 1rem;
    margin-top: 10px;
  }
}

.PageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--mario-section-bg-color);
  color: var(--mario-text-color);
  text-align: center;

  .page-section_title {
    font-size: 2rem;
    //font-weight: bold;
    color: var(--mario-accent-color);
  }

  .page-section_subtitle {
    font-size: 1.5rem;
    color: var(--mario-text-color);
  }

  .SectionComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--mario-text-color);
  }

  .component-title {
    font-size: 1.2rem;
    color: var(--mario-accent-color);
  }
}

.search-field-icon-adornment {
  svg {
    fill: var(--mario-bg-color);
    stroke: var(--mario-bg-color);
  }
}

.PopupMenu {
  .MuiPaper-rounded {
    overflow: hidden;
    border-radius: 8px;
  }

  .MuiMenu-list {
    background-color: var(--mario-section-bg-color);
    color: var(--mario-text-color);
    padding: 8px 16px;
    overflow: hidden;

    li {
      font-family: "CinzelRegular", sans-serif;
      transition: all ease-in-out 0.2s;
      border-radius: 8px;

      &:hover {
        background-color: var(--mario-accent-color);
        color: var(--mario-bg-color) !important;
        font-weight: 600;
        //font-size: 1.2rem;
        transform: scale(1.2);
        transform-origin: center;

        .menu-sub-header {
          opacity: 0.4;
        }

        li {
          color: var(--mario-bg-color) !important;
        }

        a {
          color: var(--mario-bg-color);
        }
      }
    }

    a {
      font-family: "CinzelRegular", sans-serif;
      color: var(--mario-text-color);
      text-decoration: none;
    }
  }
}

.preview-canvas {
  //element that previews selected item from carousel on top of it
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  //img {
  //  width: calc(100dvw - 32px);
  //  height: auto;
  //  padding: 0 2px;
  //  margin: 0 auto;
  //}
  img {
    min-height: 268px;
    max-height: 50vh;
    width: auto;
  }
}

.ImageTitle {
  //font-size: 2rem;
  font-size: 1.5rem;
  font-family: 'CinzelRegular', sans-serif;
  margin-bottom: 4px;
  text-align: center;
  color: var(--mario-accent-color);
}

.ImageDescription {
  font-size: 1rem;
  font-family: 'CinzelRegular', sans-serif;
  margin-bottom: 16px;
  color: var(--mario-accent-color);
  opacity: 0.8;
}

.ImageDisclaimer {
  font-family: 'CinzelRegular', sans-serif;
  font-size: 0.8rem;
}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {

  html, body {
    font-size: 9px !important;
    overflow-x: hidden;
  }
  // mobile styles
  .HomeSection {
    padding: 0 40px;
    box-sizing: border-box;
  }

  .preview-canvas {
    //element that previews selected item from carousel on top of it
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    img {
      width: calc(100% - 32px);
      height: auto;
      padding: 0 8px;
      margin: 0 auto;
      min-height: unset !important;
      max-height: unset !important;
    }
  }

  .PopupMenu {
    .MuiPaper-rounded {
      overflow: hidden;
      border-radius: 8px;
    }

    .MuiMenu-list {
      background-color: var(--mario-section-bg-color);
      color: var(--mario-text-color);
      padding: 8px 16px;
      overflow: hidden;

      li {
        font-family: "Cinzel SemiBold", sans-serif;
        font-size: 1.4rem;
      }
    }
  }
}