.MenuButton {
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
  }
}

.MobileMenu {
  height: min-content;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  overflow-y: hidden;

  .Logo {
    position: relative;
    padding-bottom: 8px;
  }

  .MenuIcon {
    position: relative;

    button {
      color: var(--mario-accent-color);
      fill: var(--mario-accent-color);
      stroke: var(--mario-accent-color);
    }
    //position: absolute;
    //top: 0;
    //right: 0;
  }
}

.Active {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--mario-accent-color);
}

.MenuCategory {
  font-family: Cinzel, sans-serif;
  font-size: 1.3rem;
  opacity: 0.8;
  margin-top: 12px;
  padding-left: 16px;
}

.PopupMenu {
  background-color: var(--mario-section-bg-color);
}