.ViewPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 20px);
  width: 100dvw;
  //padding-bottom: 64px;
  //padding: 4px 8px;

  .Photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //height: calc(80dvh - 64px);
    height: calc(100vh - 20px);
    width: max-content;
    max-width: none;
    z-index: 90;
    touch-action: manipulation;
    margin-top: 32px;

    img {
      //height: calc(100dvh - 194px);
      //max-width: calc(100% - 64px);
      //height: auto;
      //max-height: 60%;
      //width: auto;
      max-height: 90%;
      width: auto;
      height: auto;
      max-width: 100%;
      display: block;
      margin: 64px auto 0;
    }
  }

  .ImageTitle{
    font-size: 1rem;
    font-family: 'CinzelRegular', sans-serif;
    margin-bottom: 4px;
    text-align: center;
    color: var(--mario-accent-color);
    position: absolute;
    bottom: 54px;
  }

  .ImageDescription{
    font-size: 0.8rem;
    font-family: 'CinzelRegular', sans-serif;
    margin-bottom: 16px;
    color: var(--mario-accent-color);
    opacity: 0.8;
    position: absolute;
    bottom: 24px;
  }

  .ImageDisclaimer{
    font-family: 'CinzelRegular', sans-serif;
    font-size: 0.7rem;
    position: absolute;
    bottom: 16px;
  }
}

.ViewerJsRoot {
  bottom: 0 !important;
}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {
  .Photo {
    //height: max-content;
    width: max-content;
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: calc(100vw - 32px);
      max-width: 95vw !important;
      //max-width: none;
      height: auto !important;
    }
  }
}