.PreviewCarousel {
  position: relative;
  width: 100%;
  //padding: 0 16px;
  margin: 16px auto;
}

.SwiperContainer {
  position: relative;
  width: 100%;
  max-width: calc(100% - 64px);
  margin: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  padding-bottom: 32px;
}

.CarouselItem {
  margin: 8px 12px;

  .Title {
    display: block;
    font-size: 0.8rem;
  }

  .Description {
    display: block;
  }

  .Disclaimer {
    display: block;
    font-size: 0.7rem;
    opacity: 0.7;
  }
}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {
  .SwiperContainer {
    display: flex;
    align-items: center;
    min-height: 32px !important;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }

  .CarouselItem {
    width: 100%;
    margin: 1px 2px;

    .Image {
      //height: 72px;
      //width: 72px;

      img {
        height: 72px;
        //height: unset;
        width: unset;
        //object-fit: contain;
      }
    }

    .Title {
      display: none;
    }

    .Description {
      display: none;
    }
  }
}