.SliderCarousel {
  width: 100%;

  .ItemsContainer {
    width: 100%;
    //max-width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .SliderItem {
      //flex: 0 0 auto;
      width: fit-content;
      //transform: scale(0.6);
    }
  }

  .PrevArrow {
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mario-button-color);
    padding: 0;

    svg {
      transform: scaleY(4);
      transform-origin: center;
    }
  }

  .NextArrow {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mario-button-color);
    padding: 0;

    svg {
      transform: scaleY(4);
      transform-origin: center;
    }
  }

  .DotsContainer {
    .Dot {
      background-color: var(--mario-accent-color-faintest);
    }

    .DotActive {
      background-color: var(--mario-accent-color-faint);
    }
  }
}