.SliderCarousel {
  width: 100%;

  .ItemsContainer {
    width: 100%;
    max-width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .SliderItem {
      //flex: 0 0 auto;
      width: fit-content;
    }
  }

  .DotsContainer {
    .Dot {
      background-color: var(--mario-accent-color-faintest);
    }

    .DotActive {
      background-color: var(--mario-accent-color-faint);
    }
  }
}