.MediaCarousel {
  width: 100%;
  max-width: 1920px;
  margin: 16px auto;

  .PreviewCanvas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
  }

  .CarouselContainer {
    //width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .ItemsContainer {
      //width: 100%;
      width: 90vw;
      //max-width: 99%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin: 0 auto;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      .SliderItem {
        //flex: 0 0 auto;
        width: fit-content;
        //transform: scale(0.6);
      }
    }

    .PrevArrow {
      position: absolute;
      left: -32px;
      //top: 50%;
      transform: translateY(-50%);
      z-index: 200;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--mario-button-color);
      padding: 0;

      svg {
        transform: scaleY(4);
        transform-origin: center;
      }
    }

    .NextArrow {
      position: absolute;
      right: -32px;
      //top: 50%;
      transform: translateY(-50%);
      z-index: 200;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--mario-button-color);
      padding: 0;

      svg {
        transform: scaleY(4);
        transform-origin: center;
      }
    }

    .DotsContainer {
      .Dot {
        background-color: var(--mario-accent-color-faintest);
      }

      .DotActive {
        background-color: var(--mario-accent-color-faint);
      }
    }
  }

  &.Mobile {

    .PreviewCanvas {
      height: 80vh;
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      //justify-content: space-between;
      flex: 1;

      img {
        max-height: 60vh;
      }
    }

    .CarouselContainer {
      width: calc(100vw - 40px);
    }

    .ItemsContainer {
      width: calc(100vw - 64px) !important;
      //background-color: #541619 !important;
    }

    .PrevArrow {
      left: 24px;

      &.Offset {
        left: -16px;
      }
    }
    .NextArrow {
      right: 24px;

      &.Offset {
        right: -16px;
      }
    }
  }
}