.LiteraturePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .LiteratureEntry {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red !important;
    //flex-direction: row;
    //align-items: center;
    //justify-content: space-around;
    //column-gap: 16px;

    .EntryPhoto {
      //width: 30%;
    }

    .EntryDescription {
      //width: 70%;
      text-align: start;
    }
  }
}