.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
  box-sizing: border-box;

  .HomeVideo {
   min-height: auto !important;
  }

  .VideoContainer {
    //position: relative;
    width: 100%;
    //height: 100%;
  }

  .VideoOverlay {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    backdrop-filter: blur(4px);
  }

  .ResponsiveWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; // 16:9 aspect ratio
  }

  .VideoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .Section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    min-height: calc(100vh - 115px);
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;

    &.Purple {
      background-color: #191724;
    }

    &.Red {
      background-color: #541719;
    }

    &.InLine {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100%;
    }

    &.Column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

//ABOUT (Home page)
.aboutContent {
  //display: flex;
  //flex-direction: column;
  //gap: 2rem;
  width: 100%;
  //justify-content: center;
  //align-items: flex-start;
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  //gap: 16px;
  padding: 16px 32px;

  p {
    font-family: 'Lato Medium', sans-serif;
    //font-family: "CinzelRegular", sans-serif;
    font-size: 1.25rem;
    text-align: justify;

    &:nth-child(2) {
      margin-top: -4px;
    }
  }
}

.aboutImage {
  //min-width: 220px;
  //width: 25vw;
  //width: 100%;
  margin-right: 2rem;
}

.aboutText {
  //width: 50vw;
  //width: 100%;
  font-weight: 600;
  padding: 8px 32px;
  text-align: justify;
}

//@media (max-width: 700px) {
//  .aboutContent {
//    flex-direction: column;
//    align-items: center;
//  }
//  .aboutImage, .aboutText {
//    width: 100%;
//    min-width: 0;
//    padding: 0 16px;
//  }
//}

@media only screen /* Phone Portrait */
and (max-device-width: 550px) and (orientation: portrait) {
  .Home {
    .Section {
      padding: 2px 4px !important;
    }

    .aboutContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px 4px !important;

      p {
        padding: 4px 8px;
      }
    }
  }
}